<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>App</title>
    <link rel="stylesheet" href="/public/css/main.css">
</head>

<body>
    <div class="container">
        <div class="video-title">
            Remember That You Will Die EP debut....
        </div>
        <video class="video" height="auto" controls="controls" preload="none" poster="/public/img/poster-img.jpg"
            onclick="this.play()">
            <source type="video/mp4" src="/public/videos/video.mp4">
        </video>
        <hr>
        <h2 class="heading">Want to watch more videos like this?</h2>
        <h2 class="sub-heading">Subscribe for more...</strong></h2>
    </div>
</body>

</html>